.add-pay-btn {
  background-color: green;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  justify-content: initial;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.add-pay-btn:hover {
  background-color: rgb(13, 180, 13);
}
.add-pay-btn-icon {
  margin: 0 10px 0 0;
}
.btn-set-rwo {
  display: flex;
  align-items: center;
}

.card-set-pay {
  cursor: pointer;
  background-color:rgb(156, 179, 142);
  width: 350px;
  margin: 10px;
  font-weight: bold;
  color: rgb(71, 48, 48);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 50px 20px 20px 20px;
}
.card-num {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}
.card-details-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card-table {
  border: 1px solid #2e2b2b;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 12px;
  background-color: beige;
}

.card-table .card-caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.card-table .card-tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}
.card-td {
  width: 33.33%;
  font-size: 20px;

}
.card-table .card-th,
.card-table .card-td {
  padding: 0.625em;
  text-align: center;
}

.card-table .card-th {
  width: 33.33%;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.add-pay-btn-tbl {
  background-color: rgb(148, 219, 89);
  color: white;
  font-size: 45px;
  padding: 0px 10px;
  border-radius: 5px;
  margin: 0 20px 0 0;
}
.updt-card {
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  margin: 0 25px 0 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(207, 210, 32);
}
.dlt-card {
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: red;
}
.ful-set-pay{
  width: 100%;
  margin: 10px 0;
}
.ful-set-pay-card{
  width: 80%;
  margin: 0 auto;
}
.card-table-full{
  margin: 50px 0 0 0;
}
.card-thead{
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 0 30px;
}


