* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-tpoic {
  text-transform: capitalize;
  font-size: 30px;
  margin: 25px 0;
  font-weight: bold;
}
.main-para {
  text-transform: capitalize;
  font-weight: 600;
}
.Payment-full-box {
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.Payment-full-box-set {
  width: 70%;
  margin: 0 auto;
}
.method-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  text-align: center;
}
.method-set-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  width: 100%;
}
.method-set-card-form {
  display: flex;
  flex-direction: row;

  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
}
.method-box {
  width: 230px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(237, 235, 235);
  border: 2px solid rgb(26, 172, 220);
}
.method-box:hover {
  background-color: rgba(26, 172, 220, 0.111);
}
.img-paymt {
  margin: 0 auto;
}
.method-one {
  background-color: rgba(26, 172, 220, 0.145);
}
.paymnt-topic {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
}

.card-paypal {
  padding: 25px 0 25px 0;
}
.card-amo {
  padding: 25px 0 10px 0;
}
.card-pay-new {
  padding: 0px 0 10px 0;
  
}
.card-pay-new_payment{
  padding: 20px 0 10px 0;
}
.card-pay {
  padding: 15px 0 25px 30px;
}

.img-tic {
  position: relative;
  text-align: end;
  float: right;
  left: 30px;
  top: -25px;
  background-color: rgb(237, 235, 235);
  border-radius: 100%;
  width: 35px;
}
.img-tic-new {
  position: relative;
  text-align: end;
  float: right;
  left: 30px;
  top: -25px;
  background-color: rgb(237, 235, 235);
  border-radius: 100%;
  width: 35px;
}
.bil-box {
  margin: 20px 0;
}
.main-topic-bil {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 20px 0;
}
.number {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  background-color: rgb(223, 222, 222);
  border: 2px solid rgb(26, 172, 220);
  border-radius: 100%;
}
.paymnt-lable {
  text-transform: uppercase;
  font-size: 15px;
}
.paymnt-inpt {
  margin: 10px 0;
  border: 2px solid rgb(192, 190, 190);
  padding: 5px 10px;
  width: 350px;
}

.paymnt-inpt-two {
  margin: 10px 0;
  border: 2px solid rgb(192, 190, 190);
  padding: 5px 10px;
  width: 60%;
}
.paymnt-inpt-one {
  margin: 10px 0;
  border: 2px solid rgb(192, 190, 190);
  padding: 5px 10px;
  width: 90%;
}
.btn-return {
  cursor: pointer;
  border-radius: 25px;
  justify-content: start;
  margin: 25px;
  padding: 10px 20px;
  border: 2px solid rgba(128, 128, 128, 0.355);
}
.bakc {
  text-align: end;
  cursor: pointer;
  margin: 0 25px;
  text-decoration: underline;
}
.btn-pro {
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: rgb(5, 136, 218);
}
.end-btn {
  float: inline-end;
  margin: 25px;
}
.pypal-full {
  width: 100%;
  margin: 8% 0;
}
.paypal-con {
  margin: 0 auto;
  width: 450px;
  border-radius: 5px;
  padding: 25px;
  border: 2px solid #003087;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.paypal-topic{
  text-align: center;
  font-size: 28px;
  margin: 10px 0;
  font-weight: bold;
  color: #003087;
  
}
.paypal-para{
  text-align: center;
  font-size: 25px;
  margin: 10px 0 30px 0;
  font-weight: bold;
  color: #003087;
}
.paypal-para2{
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
  font-weight: bold;
  color: #003087;
}
.price-pay{
  color: rgba(255, 0, 0, 0.721);
}
.paypl-crd{
  width: 250px;
  margin: 10px auto 40px auto;
  
}