.body {
  color: bg-green-100;
}

.bg-image {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/post-bg.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
}
.bg-image01 {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/supbackground.jpeg');
  overflow: hidden;
  background-repeat: no-repeat;
}

.create-post-bg {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/add_employee_bg.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
}

.edit-post-bg {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/edit-employee-bg.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
}

.salaryreport-bg {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../public/img/salary-report-bg.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
}

/* CSS */
.overflow-y-scroll::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: #02353c; /* Track color */
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #e8f260; /* Thumb color */
  border-radius: 5px; /* Roundness of the thumb */
}

.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #f2c823; /* Thumb color on hover */
}

.bg-custom-color {
  background-color: #02353c;
}

.button-hover-effect:hover {
  background-color: #bb981c; /* Color to apply on hover */
}
