@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.Register {
  margin-right: 20%;
  margin-top: 5%;
  justify-content: right;
  display: flex;
}
.Signin {
  margin-right: 20%;
  margin-top: 5%;
  justify-content: right;
  display: flex;
}

.container {
  width: 100%;
}
.p-1 {
  justify-content: center;
}
Navbar {
  border: 0;
}
.search-bar {
  margin-top: 2%;
}
