@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.Register {
  margin-right: 20%;
  margin-top: 5%;
  justify-content: right;
  display: flex;
  padding: 10px;
}
.Signin {
  margin-right: 20%;
  margin-top: 5%;
  justify-content: right;
  display: flex;
  padding: 10px;
}

.container {
  width: 100%;
}
.p-1 {
  justify-content: center;
}
Navbar {
  border: 0;
}
.search-bar {
  margin-top: 2%;
}

.empty-cart {
  width: 50%;
  padding: 20px;
  margin-left: 5%;
}
.cart-head {
  margin: auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.register {
  width: 400px;

  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in-out;
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.Register {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  height: 90vh;
}

.Signin {
  width: 100%;
  margin: 0;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.card-container {
  margin: auto;
  width: max-content;
  max-width: 100%; /* Set maximum width */
  padding: 20px;
}

.Register {
  justify-content: center;
  width: 80vh;
  height: 80vh;
  margin: 20px;
  background-color: #ddfad6;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(194, 248, 221, 0.19);
  padding: 20px;
  align-items: center;
}
.item-cart {
  padding: 20px;
  margin-left: 5%;
  background-color: #ddfad6;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(194, 248, 221, 0.19);
}
.step {
  width: 100%;
  margin: 20 auto;
}
.item-card {
  color: #ddfad6;
}
@media (max-width: 640px) {
  .Signin,
  .Register {
    width: 90vw;
  }
}
.container {
  max-width: 100%;
}
.total-bill {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}
.search {
  margin: auto;
  margin-bottom: 40px;
}
.cart {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
/* Styles for card slider */
.card-slider {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  background-color: #f0f0f0;
}

/* Styles for individual cards */
.card {
  flex: 0 0 auto;
  width: 180px; /* Adjust as needed */
  margin-right: 20px; /* Adjust spacing between cards */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Additional styling for card content */
.card-content {
  padding: 20px;
}

.card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
}
